*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 120%;
    
}


body{
    display: block;
    background: linear-gradient(to bottom, #000, #0000ff);
    background-repeat: no-repeat;
}


h1{
    display:flex;
    justify-content: center;
    color:aliceblue;
}

p{
    display:flex;
    justify-content: center;
    color:gainsboro;
    padding:8px;
}

link,.github{
    display:flex;
    justify-content: center;
    color:gainsboro;
    padding:8px;
}

