*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 150%;
    
}

ul{
    display:flex;
    font-size: 2.1em;
}

body{
  
    background: linear-gradient(to bottom, #000, #0000ff);
    background-repeat: no-repeat;
}

.hero{
    

}

.hero-content{
    display: flex;
    color:rgb(213, 213, 226);
    justify-content:center
}

h1{
    
    font-size: 2.12em;
    padding:8px;
}

.hero-image{
    display:flex;
    justify-content: center;
    height: 100%;
    width:100%;
    overflow: hidden;
    border-radius: 10%  2rem;
}

img{
    object-fit: cover;
}

.description{
    display:flex;
    justify-content: center;
    padding:8px;
}


.mywork{
    display:flex;
    justify-content: center;
    font-size: 2.12em;
    padding:8px;
}
    


.work_link{
   color:rgb(213, 213, 226)
}